# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AQ.Ab8RN6KEs26XggUdx9zeKi1fi1adfhsFkMjQD2D3S7tWvtuzIw"

# APP_URL: The URL where this app is hosted.
APP_URL="http://localhost:3000"
